<h1>Welcome to my blog!</h1>
<ul>
    <li>
        <a href="#">My blog</a>
    </li>
    <li>
        <a href="#">Survey</a>
    </li>
</ul>
<h2>Survey form</h2>

<div>
    Your background: 
    <input type="radio" id="student" name="student" value="student" />
    <label for="student">Student</label>

    <input type="radio" id="sde" name="sde" value="sde" />
    <label for="sde">Software developer</label>

    <input type="radio" id="other" name="other" value="other" />
    <label for="other">Other</label>
</div>

<div>
    <label for="feel">How do you feel about my blog: </label>

    <select id="feel">
        <option value="">--Please choose your answer--</option>
    </select>
</div>

<div>
    The topics that you want me to share:
    <input type="checkbox" id="git" name="git" value="git" />
    <label for="git">Git</label>

    <input type="checkbox" id="css" name="css" value="css" />
    <label for="css">CSS</label>

    <input type="checkbox" id="html" name="html" value="html" />
    <label for="html">HTML</label>

    <input type="checkbox" id="js" name="js" value="js" />
    <label for="js">JavaScript</label>
</div>

<div>
    Your feedback:
</div>
<div>
    <textarea id="ta" name="ta" rows="10" cols="30"></textarea>
</div>

<p>
    Your blog id: 
    <input type="text"></input>
</p>

<button>Submit</button>

<p>&copy; 2022 Thoughtworks</p>