<h1>Welcome to my blog!</h1>
<ul>
    <li>
        <a href="#">My blog</a>
    </li>
    <li>
        <a href="#">Survey</a>
    </li>
</ul>

<h2>HTML versions timeline</h2>

<h3>HTML2 - November 24, 1995</h3>
<span>HTML2.0 was published as RFC 1866. Supplemental RFCs added capabilities:</span>
<ul>
    <li>
        November 24, 1995: RFC 1867 (form-based file upload)
    </li>
    <li>
        May 1996: RFC 1942 (tables)
    </li>
    <li>
        August 1996: RFC 1980 (client-side image maps)
    </li>
    <li>
        January 1997: RFC 2070 (internationalization)
    </li>
</ul>

<h3>HTML3 - January 14, 1997</h3>
<p>HTML3.2  was published as a W3C Recommendation. It was the first version developed and standardized exclusively by the W3C, as the IETF had closed its HTML Working Group on September 12, 1996.</p>
<p>Initially code-named "Wilbur",HTML 3.2 dropped math formulas entirely,reconciled overlap among various proprietary extensions and adopted most of Netscape's visual markup tags.Netscape's blink element and Microsoft's marquee element were omitted due to a mutual agreement between the two companies.A markup for mathematical formulas similar to that in HTML was not standardized until 14 months later in MathML. </p>

<h3>HTML4 - December 18, 1997</h3>
<span>HTML 4.0 was published as a W3C Recommendation. It offers three variations:</span>
<ul>
    <li>
        Strict,in which deprecated elements are forbidden
    </li>
    <li>
        Transitional,in which deprecated elements are allowed
    </li>
    <li>
        Frameset,in which mostly only frame related elements are allowed.
    </li>
</ul>
<p>Initially code-named"Cougar",HTML 4.0 adopted many browser-specific element types and attributes,but at the same time sought to phase out Netscape's visual markup features by marking them as deprecated in favor of style sheets. HTML 4 is an SGML application conforming to ISO 8879 - SGML. </p>

<h3>HTML4 - April 24, 1998</h3>
<p>HTML4.0 was reissued with minor edits without incrementing the version number.</p>

<h3>HTML4 - December 24, 1999</h3>
<p>HTML 4.01 was published as a W3C Recommendation. It offers the same three variations as HTML 4.0 and its last errata were published on May 12,2001.</p>

<h3>HTML4 - May 2000</h3>
<p>ISO/IEC 15445:2000("ISO HTML",based on HTML 4.01 Strict)was published as an ISO/IEC international standard.In the ISO this standard falls in the domain of the ISO/IEC JTCI/SC34(ISO/IEC Joint Technical Committee 1,Subcommittee 34-Document description and processing languages).</p>
<p>After HTML 4.01,there was no new version of HTML for many years asdevelopment of the parallel,XML-based language XHTML occupied the WN3C's HTML Working Group through the early and mid-2000s. </p>

<h3>HTML5 - October 28, 2014</h3>
<p>HTML5 was published as a W3C Recommendation.</p>

<h3>HTML5 - November 1,2016</h3>
<p>HTML 5.1 was published as a W3C Recommendation.</p>

<h3>HTML5 - December 14,2017</h3>
<p>HTML 5.2 was published as a W3C Recommendation.</p>

<span>&copy; 2022 Thoughtworks</span>